In [2]:
#Import tools

import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

from time import sleep
from random import randint

In [ ]:
https://www.jumia.com.ng/champagne-sparkling-wine/?page=2

In [3]:
pages = np.arange(1, 3, 1)
pages

array([1, 2])

In [4]:
#initialize empty lists where we'll store our data
images = []
names = []
price = []

In [5]:

for page in pages: 

  page = requests.get("https://www.jumia.com.ng/champagne-sparkling-wine/?page=" + str(page))

  soup = BeautifulSoup(page.text, 'html.parser')
  wine_div = soup.find_all('div', class_= "sku -gallery")
  
  sleep(randint(2,10))

  for container in wine_div:
      name = container.h2.find("span", class_="name").text
      names.append(name)

      image = container.a.find("div", class_="image-wrapper default-state").img["data-src"]
      images.append(image)

      cost = container.find("span", class_="price-box ri").text
      price.append(cost)

In [5]:
len(images)

154

In [6]:
print(len(names))
print(len(images))
print(len(price))

56
56
56

In [10]:
jumia_df1 = pd.DataFrame({"Name":names, "Images": images, "Price": price})
jumia_df1.tail(8)

,Name,Images,Price
48,CHAMPAGE ELITE ANDRE ROSE 75CL BY 6,https://ng.jumia.is/6FTvgUHTrUKD8yEDttK2NXCupc...,"₦ 19,000 ₦ 25,000"
49,HENNESSY VS CONGNAC 700ML,https://ng.jumia.is/xE3EarrfEBLpyV9tAIyemWrpUU...,"₦ 15,000 ₦ 21,000"
50,MATEUS ROSE 75CL BY 1,https://ng.jumia.is/lJ_NQ1iahLhjp1S_15XTyD0zFn...,"₦ 4,800 ₦ 12,000"
51,Dom Preignon Champagne 750ml Vintage 2006,https://ng.jumia.is/q8SKG8-1ph8obTi0zHjlP5yCZm...,"₦ 60,550"
52,VEUVE DU VERNAY ICE ROSE 75CL,https://ng.jumia.is/dlT3U_aoXD2Pqcnp9OVNUZtMzb...,"₦ 5,000 ₦ 7,000"
53,Sparkling Non-alcoholic Wine,https://ng.jumia.is/qTQJxgry73rYkO1hxZlMSFwoBi...,"₦ 2,165 ₦ 4,500"
54,Sparkling Grape Wine -750ml×3,https://ng.jumia.is/QPJTrtg03yYUdYORxXQYct0tHW...,"₦ 7,900"
55,Rose Sparkling Wine,https://ng.jumia.is/B4osoC-dBeiSUiYPi9VILux0mg...,"₦ 24,750"

In [11]:
jumia_df2 = pd.read_csv("Jumia.csv")
jumia_df2.head()

,Name,Images,Price
0,Marques & Gaiety Red Wine -750 ML,https://ng.jumia.is/vdeGGDsTotUSZQcda4QVomq2P1...,"₦ 2,300"
1,Health Wine Vintage Liquor,https://ng.jumia.is/Y2HEfXEE0ydXbutfnWXtyc1Kvj...,"₦ 9,500"
2,Eva Non - Alcoholic Sparkling Grape Juice - 75...,https://ng.jumia.is/HdJlZh9vaGURKwbblJG_o1M5AT...,"₦ 7,000"
3,Black Doktor Red Dessert Wine (Moldovan- 750ml...,https://ng.jumia.is/jg7KPY_eUDjkqZxJqtG2d5xC3c...,"₦ 4,500"
4,Sparkling Red Grape Wine - 750ml X12,https://ng.jumia.is/Q1Uy4blGDun1poXFXrWTIvVqRY...,"₦ 17,800"

In [12]:
jumia_df2.shape

(154, 3)

In [13]:
jumia_df = jumia_df2.append(jumia_df1)
jumia_df.shape

(210, 3)

In [14]:
jumia_df.nunique()

Name      193
Images    210
Price     141
dtype: int64

In [15]:
jumia_df.drop_duplicates(inplace=True)
jumia_df.shape

(210, 3)

In [16]:
jumia_df.isnull().sum()

Name      0
Images    0
Price     0
dtype: int64

In [17]:
jumia_df.to_csv("Jumia.csv", index=False)