In [1]:
#Import tools

import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

from time import sleep
from random import randint

In [3]:
pages = np.arange(1, 9, 1)
pages

array([1, 2, 3, 4, 5, 6, 7, 8])

In [4]:
#initialize empty lists where we'll store our data
images = []
names = []
price = []

In [ ]:
images

In [ ]:
https://www.drinks.ng/shop/champagne/page/2/

In [5]:
for page in pages: 

  page = requests.get("https://www.drinks.ng/shop/champagne/page/" + str(page) + "/")

  soup = BeautifulSoup(page.text, 'html.parser')
  wine_div = soup.find_all('div', class_= "prod")
  wine_div2 = soup.find_all('div', class_= "content-exta col-lg-3 col-md-12")
  sleep(randint(2,10))

  for container1, container2 in zip(wine_div, wine_div2):
      name = container1.div.find("h4", class_="woocommerce-loop-product__title title").text
      names.append(name)

      image = container1.div.find("a", class_="woocommerce-LoopProduct-link woocommerce-loop-product__link").img["src"]
      images.append(image)
        
      cost = container2.find("span", class_="woocommerce-Price-amount amount").text
      price.append(cost)

In [ ]:
## Explanation of the ZIP function

a = [1,2,3,4,5]
b = [6,7,8,9,10]

for x,y in zip(a,b):
    print(x+y)

In [ ]:
price

In [ ]:
print(cost)

In [6]:
print(len(names))
print(len(images))
print(len(price))

94
94
94

In [7]:
drinks_ng_df1 = pd.DataFrame({"Name":names, "Images": images, "Price": price})
drinks_ng_df1.head()

,Name,Images,Price
0,Mini Moet & Chandon Imperial Brut Champagne -20CL,https://www.drinks.ng/wp-content/uploads/2019/...,"₦4,400"
1,Taittinger Demi Sec -75CL,https://www.drinks.ng/wp-content/uploads/2019/...,"₦14,950"
2,Laurent Perrier Demi Sec -75CL,https://www.drinks.ng/wp-content/uploads/2019/...,"₦17,700"
3,Moet & Chandon Ice Imperial -75CL,https://www.drinks.ng/wp-content/uploads/2019/...,"₦26,700"
4,Veuve Clicquot Brut -75CL (x6Bottles),https://www.drinks.ng/wp-content/uploads/2019/...,"₦105,000"

In [8]:
drinks_ng_df2 = pd.read_csv("Drinks_Ng.csv")
drinks_ng_df2.head()

,Name,Images,Price
0,Carlo Rossi Sweet Red -75CL,https://www.drinks.ng/wp-content/uploads/2019/...,"₦1,740"
1,Apothic Red Wine -75CL,https://www.drinks.ng/wp-content/uploads/2019/...,"₦3,330"
2,Chamdor Sparkling Grape – 75CL,https://www.drinks.ng/wp-content/uploads/2020/...,"₦1,450"
3,Lamothe Parrot Classic Red -75CL,https://www.drinks.ng/wp-content/uploads/2019/...,"₦1,310"
4,Agor Red Wine -75CL (x6Bottles),https://www.drinks.ng/wp-content/uploads/2019/...,"₦10,400"

In [9]:
drinks_ng_df2.shape

(271, 3)

In [10]:
drinks_ng_df = drinks_ng_df2.append(drinks_ng_df1)
drinks_ng_df.shape

(365, 3)

In [11]:
drinks_ng_df.nunique()

Name      364
Images    266
Price     248
dtype: int64

In [12]:
drinks_ng_df.drop_duplicates(inplace=True)
drinks_ng_df.shape

(365, 3)

In [13]:
drinks_ng_df.isna().sum()

Name      0
Images    0
Price     0
dtype: int64

In [14]:
drinks_ng_df.to_csv("Drinks_Ng.csv", index=False)