In [1]:
#Import tools

import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

from time import sleep
from random import randint

In [2]:
pages = np.arange(1, 4, 1)
pages

array([1, 2, 3])

In [1]:
# https://www.cellarcentral.ng/index.php?_route_=champagne-and-sparkling&page=2

In [4]:
#initialize empty lists where we'll store our data
images = []
names = []
price = []

In [5]:

for page in pages: 

  page = requests.get("https://www.cellarcentral.ng/index.php?_route_=champagne-and-sparkling&page=" + str(page))

  soup = BeautifulSoup(page.text, 'html.parser')
  wine_div = soup.find_all('div', class_= "product-thumb")
  
  sleep(randint(2,10))

  for container in wine_div:
      name = container.find("div", class_="caption").a.text.strip()
      names.append(name)

      image = container.find("div", class_="image").img["src"]
      images.append(image)

      cost = container.find("p", class_="price").text.strip()
      price.append(cost)

In [5]:
price

['₦27,500.00',
 '₦46,200.00',
 '₦62,700.00',
 '₦30,300.00',
 '₦68,000.00',
 '₦84,000.00',
 '₦68,000.00',
 '₦108,000.00',
 '₦3,250.00',
 '₦4,500.00',
 '₦7,000.00',
 '₦7,000.00',
 '₦4,400.00',
 '₦4,400.00',
 '₦72,800.00',
 '₦14,800.00',
 '₦15,150.00',
 '₦25,500.00',
 '₦75,000.00',
 '₦150,000.00',
 '₦4,600.00',
 '₦4,300.00',
 '₦4,500.00',
 '₦4,300.00',
 '₦1,650.00',
 '₦1,950.00',
 '₦1,950.00',
 '₦1,950.00',
 '₦15,500.00',
 '₦23,500.00',
 '₦17,000.00',
 '₦20,000.00',
 '₦19,300.00',
 '₦15,500.00',
 '₦15,500.00',
 '₦62,300.00',
 '₦72,000.00',
 '₦31,800.00',
 '₦22,000.00',
 '₦4,500.00',
 '₦17,600.00',
 '₦17,600.00',
 '₦21,800.00',
 '₦20,200.00',
 '₦2,500.00',
 '₦2,500.00']

In [6]:
print(len(names))
print(len(images))
print(len(price))

46
46
46

In [7]:
names

['Bollinger Brut *75CL',
 'Bollinger La Grande Annee Brut *75CL',
 'Bollinger La Grande Annee Rose *75CL',
 'Bollinger Rose *75CL',
 'Dom Perignon Brut  *75CL',
 'Dom Perignon Brut with Glasses *75cl',
 'Dom Perignon Jeff Koons (LE) *75cl',
 'Dom Perignon Rose  *75CL',
 'Fantinel Prosecco Brut *75CL',
 'Fantinel Prosecco Rose *75CL',
 'Haute Couture French Bubbles Blanc *75CL',
 'Haute Couture French Bubbles Rose *75CL',
 'Krone Sparkling Night Nectar  Demi Sec*75cl',
 'Krone Sparkling Night Nectar Rose  *75cl',
 'Krug Grand Cuvee Brut *75CL',
 'Laurent Perrier Brut *75CL',
 'Laurent Perrier Demi-Sec *75CL',
 'Laurent Perrier Rose *75CL',
 'Louis Roederer Cristal Brut *75CL',
 'Louis Roederer Cristal Rose *75CL',
 'Martini Asti *75CL',
 'Martini Brut *75CL',
 'Martini Prosecco *75CL',
 'Martini Rose *75CL',
 'Mateus Rose *75CL',
 'Mateus Sparkling Baga & Shiraz Brut Rose *75CL',
 'Mateus Sparkling Baga & Shiraz Demi Sec *75CL',
 'Mateus Sparkling Maria Gomes & Muscat *75cl',
 'Moet & Chandon Brut Imperial *75CL',
 'Moet & Chandon Ice Imperial *75CL',
 'Moet & Chandon Nectar Imperial *75CL',
 'Moet & Chandon Nectar Rose Imperial *75CL',
 'Moet & Chandon Rose Imperial *75CL',
 'Moet Brut Gold Bottle *70CL',
 'Moet Brut Imperial 150 Years *75cl',
 'Perrier-Jouet Belle Epoque *75CL',
 'Perrier-Jouet Belle Epoque Rose *75CL',
 'Perrier-Jouet Blason Rose *75CL',
 'Perrier-Jouet Grand Brut *75CL',
 'The Independent Prosecco *75CL',
 'Veuve Clicquot Brut *75CL',
 'Veuve Clicquot Brut Signature Box * 75cl',
 'Veuve Clicquot Rich *75CL',
 'Veuve Clicquot Rose *75CL',
 'Veuve Du Vernay Ice *75CL',
 'Veuve Du Vernay Ice Rose *75CL']

In [8]:
cellar_central_df1 = pd.DataFrame({"Name":names, "Images": images, "Price": price})
cellar_central_df1.head()

,Name,Images,Price
0,Bollinger Brut *75CL,https://www.cellarcentral.ng/image/cache/catal...,"₦27,500.00"
1,Bollinger La Grande Annee Brut *75CL,https://www.cellarcentral.ng/image/cache/catal...,"₦46,200.00"
2,Bollinger La Grande Annee Rose *75CL,https://www.cellarcentral.ng/image/cache/catal...,"₦62,700.00"
3,Bollinger Rose *75CL,https://www.cellarcentral.ng/image/cache/catal...,"₦30,300.00"
4,Dom Perignon Brut *75CL,https://www.cellarcentral.ng/image/cache/catal...,"₦68,000.00"

In [20]:
Name = cellar_central_df1["Name"] + " sparkling"
Name

0                        Bollinger Brut *75CL sparkling
1        Bollinger La Grande Annee Brut *75CL sparkling
2        Bollinger La Grande Annee Rose *75CL sparkling
3                        Bollinger Rose *75CL sparkling
4                    Dom Perignon Brut  *75CL sparkling
5        Dom Perignon Brut with Glasses *75cl sparkling
6          Dom Perignon Jeff Koons (LE) *75cl sparkling
7                    Dom Perignon Rose  *75CL sparkling
8                Fantinel Prosecco Brut *75CL sparkling
9                Fantinel Prosecco Rose *75CL sparkling
10    Haute Couture French Bubbles Blanc *75CL spark...
11    Haute Couture French Bubbles Rose *75CL sparkling
12    Krone Sparkling Night Nectar  Demi Sec*75cl sp...
13    Krone Sparkling Night Nectar Rose  *75cl spark...
14                Krug Grand Cuvee Brut *75CL sparkling
15                 Laurent Perrier Brut *75CL sparkling
16             Laurent Perrier Demi-Sec *75CL sparkling
17                 Laurent Perrier Rose *75CL sparkling
18          Louis Roederer Cristal Brut *75CL sparkling
19          Louis Roederer Cristal Rose *75CL sparkling
20                         Martini Asti *75CL sparkling
21                         Martini Brut *75CL sparkling
22                     Martini Prosecco *75CL sparkling
23                         Martini Rose *75CL sparkling
24                          Mateus Rose *75CL sparkling
25    Mateus Sparkling Baga & Shiraz Brut Rose *75CL...
26    Mateus Sparkling Baga & Shiraz Demi Sec *75CL ...
27    Mateus Sparkling Maria Gomes & Muscat *75cl sp...
28         Moet & Chandon Brut Imperial *75CL sparkling
29          Moet & Chandon Ice Imperial *75CL sparkling
30       Moet & Chandon Nectar Imperial *75CL sparkling
31    Moet & Chandon Nectar Rose Imperial *75CL spar...
32         Moet & Chandon Rose Imperial *75CL sparkling
33                Moet Brut Gold Bottle *70CL sparkling
34         Moet Brut Imperial 150 Years *75cl sparkling
35           Perrier-Jouet Belle Epoque *75CL sparkling
36      Perrier-Jouet Belle Epoque Rose *75CL sparkling
37            Perrier-Jouet Blason Rose *75CL sparkling
38             Perrier-Jouet Grand Brut *75CL sparkling
39             The Independent Prosecco *75CL sparkling
40                  Veuve Clicquot Brut *75CL sparkling
41    Veuve Clicquot Brut Signature Box * 75cl spark...
42                  Veuve Clicquot Rich *75CL sparkling
43                  Veuve Clicquot Rose *75CL sparkling
44                  Veuve Du Vernay Ice *75CL sparkling
45             Veuve Du Vernay Ice Rose *75CL sparkling
Name: Name, dtype: object

In [15]:
cellar_central_df2 = pd.read_csv("CellarCentral.csv")
cellar_central_df2.head()

,Name,Images,Price
0,Ao Yun Chinese Red *75cl,https://www.cellarcentral.ng/image/cache/catal...,"₦105,000.00"
1,B&G Chateauneuf du Pape *75CL,https://www.cellarcentral.ng/image/cache/catal...,"₦8,000.00"
2,B&G Cuvee Speciale Red *75CL,https://www.cellarcentral.ng/image/cache/catal...,"₦1,600.00"
3,B&G Cuvee Speciale Rose *75CL,https://www.cellarcentral.ng/image/cache/catal...,"₦1,600.00"
4,B&G Cuvee Speciale White *75CL,https://www.cellarcentral.ng/image/cache/catal...,"₦1,600.00"

In [16]:
cellar_central_df2.shape

(123, 3)

In [29]:
cellar_central_df = cellar_central_df2.append(cellar_central_df1)
cellar_central_df.shape

(169, 3)

In [32]:
cellar_central_df.nunique()

Name      153
Images    153
Price      89
dtype: int64

In [33]:
cellar_central_df.drop_duplicates(inplace=True)
cellar_central_df.shape

(153, 3)

In [34]:
cellar_central_df.to_csv("CellarCentral.csv", index=False)