In [1]:
#Import tools

import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

from time import sleep
from random import randint

In [2]:
pages = np.arange(1, 6, 1)
pages

array([1, 2, 3, 4, 5])

In [3]:
#initialize empty lists where we'll store our data
images = []
names = []
price = []

In [ ]:
# https://winehousenigeria.com/product-category/champagne/page/2/

In [6]:

for page in pages: 

  page = requests.get("https://winehousenigeria.com/product-category/champagne/page/" + str(page) + "/")

  soup = BeautifulSoup(page.text, 'html.parser')
  wine_div = soup.find_all('li', class_= "product")
  
  sleep(randint(2,10))

  for container in wine_div:
      name = container.a.find("h2", class_="woocommerce-loop-product__title").text
      names.append(name)

      image = container.a.find("span", class_="et_shop_image").img["src"]
      images.append(image)

      cost = container.a.find("span", class_="woocommerce-Price-amount").text
      price.append(cost)

In [7]:
print(len(names))
print(len(images))
print(len(price))

40
40
40

In [8]:
wine_house_df1 = pd.DataFrame({"Name":names, "Images": images, "Price": price})
wine_house_df1.head()

,Name,Images,Price
0,Champagne Vollereaux – Premier Cru 75CL (12 Bo...,https://winehousenigeria.com/wp-content/upload...,"₦222,000.00"
1,Champagne Vollereaux (Premier Cru) – 75CL,https://winehousenigeria.com/wp-content/upload...,"₦19,000.00"
2,Champagne Vollereaux Rosé – 75CL,https://winehousenigeria.com/wp-content/upload...,"₦19,000.00"
3,Champagne Vollereaux Rosé – 75CL (12 Bottles),https://winehousenigeria.com/wp-content/upload...,"₦222,000.00"
4,Haute Couture Blanc – 75CL,https://winehousenigeria.com/wp-content/upload...,"₦8,000.00"

In [9]:
wine_house_df2 = pd.read_csv("WineHouseNigeria.csv")
wine_house_df2.head()

,Name,Images,Price
0,4th Street Sweet Red – 75CL,https://winehousenigeria.com/wp-content/upload...,"₦1,500.00"
1,4th Street Sweet Red – 75CL (12 Bottles),https://winehousenigeria.com/wp-content/upload...,"₦16,000.00"
2,4th Street Sweet Rose – 75CL,https://winehousenigeria.com/wp-content/upload...,"₦1,500.00"
3,4th Street Sweet Rose – 75CL (6 Bottles),https://winehousenigeria.com/wp-content/upload...,"₦9,000.00"
4,4th Street Sweet White – 75CL,https://winehousenigeria.com/wp-content/upload...,"₦1,500.00"

In [10]:
wine_house_df2.shape

(94, 3)

In [11]:
wine_house_df = wine_house_df2.append(wine_house_df1)
wine_house_df.shape

(134, 3)

In [12]:
wine_house_df.nunique()

Name      112
Images     89
Price      70
dtype: int64

In [13]:
wine_house_df.drop_duplicates(inplace=True)
wine_house_df.shape

(112, 3)

In [14]:
wine_house_df.isnull().sum()

Name      0
Images    0
Price     0
dtype: int64

In [15]:
wine_house_df.to_csv("WineHouseNigeria.csv", index=False)